.main-bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url('./img/img06.jpg');
    background-size: cover;
    height: 675px;
    background-repeat: no-repeat;
    background-position: center;
  }

.main-text{
    align-items: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

.main-text h1{
    padding-top: 8rem;
    font-size: 4rem;
}

.main-text p{
    font-size: 1.5rem;
    padding: 1rem 20rem;
}

.button{
    display:flex;
    padding: .5rem 1rem;
    background-color: #1356A3;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    align-items: center;
    border-radius: 4px;
}

.phone-icon{
    padding-left: 1rem;
    width: 40px;
    height: 40px;
}
