.nossa-historia {
  display: flex;
  grid-template-columns: 1fr 1fr;
  padding:40px;
  background-color: white;
  position: relative;
}

.img-section-01 {
  height: 400px;
  margin: 40px 20px 40px 0px;
  border-radius: 4px;
}

.container-quem-somos {
  margin: 20px;
  padding: 10px;
}

.container-quem-somos h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1356A3;
  text-align: right;
}

.container-quem-somos p {
  font-size: 20px;
  color: white;
  margin-bottom: 60px;
  color: #1356A3;
}

.ver-mais {
  padding: 15px 30px;
  font-size: 20px;
  color: #0d0d3e;
  text-decoration: none;
  background-color: grey;
  border-radius: 4px;
}

.detalhe{
  width: 60px;
  height: 400px;
  background-color: white;
  display: inline-block;
  position:absolute;
  top: 80px;
  left: 350px;

}